


$primary:#5265E1;
$secondary: #FA5959;
$accordion-border-color: none;
$accordion-button-active-bg: none;
$accordion-button-focus-border-color: white;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;


$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);



@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
}


.btn-outline-0:focus {
    outline: none;
    box-shadow: none;
}


.offcanvas {
    background-color: rgba(47,53,79,0.9);
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    color: black !important;
    border-bottom-color: $secondary;
}


