


$primary:#5265E1;
$secondary: #FA5959;
$accordion-border-color: none;
$accordion-button-active-bg: none;
$accordion-button-focus-border-color: white;
$accordion-button-focus-box-shadow: none;
$accordion-icon-color: $primary;
$accordion-icon-active-color: $secondary;


$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
);



@import "./node_modules/bootstrap/scss/bootstrap.scss";

* {
    box-sizing: border-box;
}


.btn-outline-0:focus {
    outline: none;
    box-shadow: none;
}


.offcanvas {
    background-color: rgba(47,53,79,0.9);
}

.nav-underline .nav-link.active, .nav-underline .show > .nav-link {
    color: black !important;
    border-bottom-color: $secondary;
}

.bggrey {
    background-color: #212641;
}

.invalid-feedback {
    width: 100%;
    margin-top: 0px;
    font-size: 0.9em;
    color: white;
    padding: 0.4rem;
    padding-left: 0.9rem;
    background-color: $secondary;
    border-bottom-right-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    text-align: start;
}

.was-validated .form-control:invalid {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='red' stroke='white'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='white' stroke='none'/%3e%3c/svg%3e");
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
    border: 2px solid $secondary;
}

.position {
    position: relative;
    top: -1rem;
}

.position-end {
    position: relative;
    top: 1rem;
}

.nav-link:hover {
    color: $secondary !important;
}

.accordion-button:hover {
    color: $secondary;
}

.btn-secondary:hover {
    background-color: white;
    color: $secondary !important;
    border: 2px solid $secondary;
}

.btn-primary:hover {
    background-color: white;
    color: $primary !important;
    border: 2px solid $primary;
}

.btn-light:hover {
    background-color: white;
    color: black !important;
    border: 2px solid black;
}

.nav-underline {
    .nav-item {
        .nav-link:hover {
            color: $secondary !important;
            border-bottom-color: transparent;
        }
    }
}

.imgfacebook, .imgtwitter {
    path:hover {
        fill: $secondary;
    }
} 